.breadcrumb-nav {
    background-color: $white;
    .breadcrumb {
        border-radius: 0;
        background-color: transparent;
        margin: 0;
        padding: 0.75rem 0;
    }
    .breadcrumb-item {
    	color: $gray-500;
    	font-size: 0.875rem;
    	font-weight: 600;
    	&.active {
    		color: $gray-500;
    	}
    	&+.breadcrumb-item {
    		&::before {
    			color: $primary;
    			font-weight: 600;
    			padding-right: .25rem;
    		}
    	}
    }
    @include media-breakpoint-down(xs) {
		.breadcrumb-item {
			display: none;
		}
		.breadcrumb-item:last-child, .breadcrumb-item:nth-last-child(2) {
			display: inline-block;
		}
		.breadcrumb-item:nth-last-child(2) {
			&::before {
				content: '«';
				margin-left: -0.5rem;
			}
		}
	}
}