.btn {
	background-image: none;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1rem;
	@include media-breakpoint-up(md) {
		font-size: 1.2rem;
	}
	&:not(:last-child) {
		margin-right: 12px;
	}
}
.btn-primary, .btn-outline-primary {
	&:hover {
		border-color: $primary-lighter;
		background-color: $primary-lighter;
	}
	&:focus {
		border-color: $primary-light;
		background-color: $primary-light;
		color: $white;
		box-shadow: none;
	}
	&:not(:disabled):not(.disabled):active, 
	&:not(:disabled):not(.disabled).active {
		border-color: $primary-light;
		background-color: $primary-light;
		&:focus {
			box-shadow: none;
		}
	}
}

.show {
	&>.btn-primary, &>.btn-outline-primary{
		.dropdown-toggle {
			border-color: $primary-light;
			background-color: $primary-light;
			&:focus {
				box-shadow: none;
			}
		}
	}
}

.btn-read-more {
	font-size: 1.125rem;
	font-family: $headings-font-family;
	color: $primary;
	padding: 0 20px 0 0;
	border: none;
	text-transform: none;
	position: relative;
	background-image: linear-gradient(to right, $primary-lighter 0%, $primary-lighter 100%);
    background-repeat: no-repeat;
    background-size: 0% 2px;
    background-position: 0 100%;
    transition: background-size 0.3s ease-in-out 0s;
	&:before, &:after {
		content: '';
		display: block;
		position: absolute;
		border-radius: 50%;
	}
	&:before {
		background-color: $primary-light;
		height: 7px;
		width: 7px;
		right: 8px;
		bottom: 6px;
	}
	&:after {
		background-color: $primary-lighter;
		height: 5px;
		width: 5px;
		right: 0;
		bottom: 7px;
	}
	&:hover {
		color: $primary;
		text-decoration: none;
		background-size: 100% 2px;
	}
	&:focus {
		box-shadow: none;
	}
	&:not(:disabled):not(.disabled):active, 
	&:not(:disabled):not(.disabled).active {
		&:focus {
			box-shadow: none;
		}
	}
}