// background colors
//============================
.tc-1 { background-color: $primary; }
.tc-2 { background-color: $secondary; }
.tc-3 { background-color: $tertiary; }
.tc-4 { background-color: $quaternary; }

// Default Button 
//============================
// .btn-default {
//     @include button-variant($white, $gray-900);
//     color: $gray-900;
// }
// .btn-primary {
//     color: $white;
// }
// .btn-secondary {
//     color: $white;
// }

a {
	font-weight: 600;
	background-image: linear-gradient(to right, $primary-lighter 0%, $primary-lighter 100%);
    background-repeat: no-repeat;
    background-size: 0% 2px;
    background-position: 0 100%;
    transition: background-size 0.3s ease-in-out 0s;
	&:hover {
		color: $primary;
		text-decoration: none;
		background-size: 100% 2px;
	}
}

table.table {
	th, td {
		border-top: none;
		border-bottom: 1px solid $primary-lighter;
		padding: 8px 16px 8px 0;
	}
	th {
		font-weight: 600;
		color: $primary;
	}
}