// background colors
//============================
.tc-1 { 
	background: $white;
	background: $background-gradient; 
}
.tc-2 { background-color: $primary-light; }
.tc-3 { background-color: $primary-lighter; }
.tc-4 { background-color: $primary-lightest; }


// typography 
//============================
body {
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, .h1 {
	font-size: 1.75rem;
	@include media-breakpoint-up(md) {
		font-size: 2.375rem;
	}
}
h2, .h2 {
	font-size: 1.5625rem;
	@include media-breakpoint-up(md) {
		font-size: 2rem;
	}
}
h3, .h3 {
	font-size: 1.5rem;
	@include media-breakpoint-up(md) {
		font-size: 1.75rem;
	}
}
h4, .h4 {
	font-size: 1.4375rem;
	@include media-breakpoint-up(md) {
		font-size: 1.5rem;
	}
}
h5, .h5 {
	font-size: 1.375rem;
}
h6, .h6 {
	font-size: 1.25rem;
}

p {
	font-weight: 400;
}

.lead {
	font-size: 1.125rem;
	@include media-breakpoint-up(md) {
		font-size: 1.25rem;
	}
}

// links
//============================
a {
	font-weight: 600;
	background-image: linear-gradient(to right, $primary-lighter 0%, $primary-lighter 100%);
    background-repeat: no-repeat;
    background-size: 0% 2px;
    background-position: 0 100%;
    transition: background-size 0.3s ease-in-out 0s;
	&:hover {
		color: $primary;
		text-decoration: none;
		background-size: 100% 2px;
	}
}

// tables 
//============================
table.table {
	th, td {
		border-top: none;
		border-bottom: 1px solid $primary-lighter;
		padding: 8px 16px 8px 0;
	}
	th {
		font-weight: 600;
		color: $primary;
	}
}

// fig-caption 
//============================
.figure-caption {
	margin-top: 12px;
	color: $primary;
	font-size: 0.875rem;
}

// blockquotes 
//============================
blockquote {
	position: relative;
	margin: 12px;
	padding: 32px 24px 18px 24px;
	color: $primary;
	font-weight: 600;
	background: $gray-100;
	&:after {
		content: '';
		position: absolute;
		top: -12px;
		left: -12px;
		display: block;
		height: 25px;
		width: 38px;
		background-image: url("../Images/quotation.svg");
		background-repeat: no-repeat;
	}
	& + p > .small {
		@extend .figure-caption;
		margin-left: 36px;
	}
}

// spacing within frames 
//============================
.frame {
	p, ol, ul, dl, table ,blockquote {
		margin-bottom: 0;
		&:not(:last-child) {
			margin-bottom: $paragraph-margin-bottom;
		}
	}
	ol, ul, dl {
		li {
			margin-bottom: 0;
			&:not(:last-child) {
				margin-bottom: $paragraph-margin-bottom;
			}
		}
	}
}

// custom gutter width on xs
//============================
// @include media-breakpoint-only(xs) {
// 	.container {
// 		padding-right: $grid-gutter-width-mobile;
//         padding-left: $grid-gutter-width-mobile;
// 	}
// 	.row {
//         margin-right: -$grid-gutter-width-mobile;
//         margin-left: -$grid-gutter-width-mobile;
//     }
//     .row > .col,
//     .row > [class*="col-"] {
//         padding-right: $grid-gutter-width-mobile;
//         padding-left: $grid-gutter-width-mobile;
//     }
// }