// background colors
//============================
.tc-1 { background-color: $primary; }
.tc-2 { background-color: $secondary; }
.tc-3 { background-color: $tertiary; }
.tc-4 { background-color: $quaternary; }

// Default Button 
//============================
// .btn-default {
//     @include button-variant($white, $gray-900);
//     color: $gray-900;
// }
// .btn-primary {
//     color: $white;
// }
// .btn-secondary {
//     color: $white;
// }

body {
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
	font-weight: 600;
	background-image: linear-gradient(to right, $primary-lighter 0%, $primary-lighter 100%);
    background-repeat: no-repeat;
    background-size: 0% 2px;
    background-position: 0 100%;
    transition: background-size 0.3s ease-in-out 0s;
	&:hover {
		color: $primary;
		text-decoration: none;
		background-size: 100% 2px;
	}
}

table.table {
	th, td {
		border-top: none;
		border-bottom: 1px solid $primary-lighter;
		padding: 8px 16px 8px 0;
	}
	th {
		font-weight: 600;
		color: $primary;
	}
}

.figure-caption {
	margin-top: 12px;
	color: $primary;
	font-size: 0.875rem;
}

blockquote {
	position: relative;
	margin: 12px;
	padding: 32px 24px 18px 24px;
	color: $primary;
	font-weight: 600;
	background: $gray-100;
	&:after {
		content: '';
		position: absolute;
		top: -12px;
		left: -12px;
		display: block;
		height: 25px;
		width: 38px;
		background-image: url("../Images/quotation.svg");
		background-repeat: no-repeat;
	}
	& + p > .small {
		@extend .figure-caption;
		margin-left: 36px;
	}
}
