#main-navi {
    background: $white;
    padding: 6px 15px;
    @include media-breakpoint-up(md) {
        padding: 10px 15px;
    }
    a {
        background-image: none;
    }
    .dropdown {
        position: static;
        .dropdown-menu {
            left: 0;
            right: 0;
            margin: 0;
            background-color: $primary;
            border: none;
            border-radius: 0;
            @include media-breakpoint-up(lg) {
                border-radius: 0;
                .container {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                }
            }
            .overview {
                padding-top: 0.25rem;
            }
            &.show {
                padding: 20px 0;
                margin-bottom: 0;
                .link-list {
                    .nav {
                        flex-direction: column;
                        // padding-top: 0.25rem;
                        @include media-breakpoint-up(lg) {
                            flex-direction: row; 
                            justify-content: flex-end;
                                .nav-item {
                                padding-left: 0.75rem;
                                padding-right: 0.75rem;
                                &:first-of-type {
                                    padding-left: 0;
                                }
                            }
                        }
                    }
                }
            }
            .dropdown-item {
                padding-left: 0;
                padding-right: 0;
                color: $white;
                &:hover, &:focus {
                    background-color: transparent;
                    color: $primary-lighter;
                }
                &.active, &:active {
                    background-color: transparent;
                    color: $primary-lighter;
                }
            }
        }
        .dropdown-toggle {
            text-transform: uppercase;
            &:after {
                content: none;
            }
        }
    }

    .navbar-brand.navbar-brand-backgroundimage {
        width: 57px;
        height: 56px;
        padding: 0;
		text-indent:-99999px;
		background-image: url($logo-path);
        background-repeat: no-repeat;
		background-position: left center;
        background-size: contain;
        @include media-breakpoint-up(md) {
            width: 157px;
            height: 80px;
            margin-top: 3px;
            margin-bottom: 3px;
            background-image: url($logo-big-path);
        }
	}

    .nav-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .navbar-toggler {
        border: none;
        height: 24px;
        padding: 0;
        &:focus {
            outline: none;
        }
    }
    .navbar-toggler-icon {
        display: block;
        background-image: none;
        background-color: $primary;
        height: 4px;
        width: 22px;
        &:before, &:after {
            position: absolute;
            content: '';
            display: block;
            background-color: $primary-light;
            height: 4px;
            width: 22px;
            transform-origin: center center; 
            // transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
            transition: transform 0.3s ease-in-out;
        }
        &:before {
            transform: translateY(-10px);
        }
        &:after {
            transform: translateY(10px);
        }
    }

    .nav-call {
        display: block;
        height: 24px;
        width: 24px;
        margin-right: 16px;
        color: $primary-lighter;
        .fas {
            font-size: 24px;
        }
    }
    .nav-call-desktop {
        position: absolute;
        right: calc((100vw - #{map-get($container-max-widths, "lg")}) / 2 + #{$grid-gutter-width} / 2);
        @include media-breakpoint-up(xl) {
            right: calc((100vw - #{map-get($container-max-widths, "xl")}) / 2 + #{$grid-gutter-width} / 2);
        }
        top: 10px;
        a {
            color: $primary-lighter;
            font-family: $headings-font-family;
            font-size: 1.25rem;
            &:hover {
                color: $primary;
            }
            .fas {
                font-size: 20px;
                padding-right: 9px;
            }
        }
    }

    .navbar-nav {
        &>.nav-item a:last-child {
            padding-right: 0;
        }
        .nav-link {
            color: $primary;
            padding-right: 0.75rem;
            padding-left: 0.75rem;
        }
    }

    .nav-item {
        a {
            font-family: $headings-font-family;
            font-weight: 700;
            font-size: 1.25rem;
            text-align: center;
        }
        &.active a, &.show a, a:hover  {
            color: $primary-lighter;
        }
    }

    .navbar-collapse {
        margin-top: 30px;
    }

    .opening-hours {
        @extend .container;
        margin-bottom: 12px;
    }
    .frame-type-twoColumns {
        h1, h2, h3, h4, h5, h6 {
            color: $primary-lighter;
        }
        color: $white;
    }


    @include media-breakpoint-down(md) {
        padding-left: 0;
        padding-right: 0;
        transition: background-color 0.3s ease-in-out, height 0.3s ease-in-out;
        .navbar-brand {
            transition: opacity 0.3s ease-in-out;
        }
        &.nav-open {
            background-color: $primary;
            overflow-y: auto;
            .navbar-brand {
                opacity: 0;
                pointer-events: none;
            }
            .navbar-toggler-icon {
                background: transparent;
                &:before, &:after {
                    background: $white;
                    // width: 30px;
                }
                &:before {
                    transform: translateY(0) rotate(45deg);
                }
                &:after {
                    transform: translateY(0) rotate(-45deg);
                }
            }
        }
        .w-100 {
            min-height: calc(100vh - 106px);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .navbar-collapse {
            margin-top: 0;
        }
        .navbar-nav {
            margin-bottom: 90px;
            .nav-link {
                padding: 0.75rem 0;
                color: $white;
                &:hover, &:focus {
                    // background-color: $primary-dark;
                    // background-color: transparent;
                }
                &.active, &:active, &.show {
                    // background-color: $primary-dark;
                }
            }
            .nav-item {
                position: relative;
                &:not(:last-child) {
                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        height: 2px;
                        width: 30px;
                        // top: 0;
                        bottom: 0;
                        left: 50%;
                        -ms-transform: translateX(-50%);
                        transform: translateX(-50%);
                        background-color: $primary-dark;
                    }
                }
                &.active>a, &.show>a, &>a:hover  {
                    background-color: $primary-dark;
                    color: $white;
                }
            }
        }
        &.navbar-expand {
            &-sm, &-md, &-lg, &-xl {
                &>.container {
                    margin: 0;
                    padding-left: 0;
                    padding-right: 0;
                    max-width: none;
                }
            }
        }
        .dropdown {
            .dropdown-menu {
                padding: 0;
                background-color: $primary-light;
                &>.container {
                    margin: 0;
                    padding-left: 0;
                    padding-right: 0;
                    max-width: none;
                    .link-list {
                        width: 100%;
                    }
                }
                .dropdown-item {
                    padding: 0.75rem 0;
                    color: $white;
                    &:hover, &:focus {
                        background-color: transparent;
                        color: $white;
                    }
                    &.active, &:active {
                        background-color: $primary-dark;
                        color: $white;
                    }
                }

                &.show {
                    padding: 0;
                }
            }
        }
        .navbar-brand.navbar-brand-backgroundimage {
            margin-left: $grid-gutter-width/2;
        }
        .nav-buttons {
            margin-right: $grid-gutter-width/2;
        }
    }

    // Add padding on sides
    // @include media-breakpoint-up(sm) {
    //     &.navbar-expand {
    //         &-sm, &-md, &-lg, &-xl {
    //             &>.container {
    //                 padding-left: ($grid-gutter-width/2) ;
    //                 padding-right: ($grid-gutter-width/2) ;
    //             }
    //         }
    //     }
    // }
    @include media-breakpoint-down(sm) {
        .w-100 {
            min-height: calc(100vh - 68px);
        }
    }
}

@include media-breakpoint-down(md) {
    .bottom-0 {
        bottom: 0;
    }
    body.nav-open {
        overflow: hidden;
    }
}

body {
    padding-top: 106px;
    @include media-breakpoint-down(sm) {
        padding-top: 68px;
    }
}