.site-actions {
    position: absolute;
    right: 15px;
    top: 45px;
    @include media-breakpoint-up(sm) {
        right: calc((100vw - #{map-get($container-max-widths, "sm")}) / 2 + #{$grid-gutter-width} / 2);
    }
    @include media-breakpoint-up(md) {
        right: calc((100vw - #{map-get($container-max-widths, "md")}) / 2 + #{$grid-gutter-width} / 2);
    }
    @include media-breakpoint-up(lg) {
        right: calc((100vw - #{map-get($container-max-widths, "lg")}) / 2 + #{$grid-gutter-width} / 2);
    }
    @include media-breakpoint-up(xl) {
        right: calc((100vw - #{map-get($container-max-widths, "xl")}) / 2 + #{$grid-gutter-width} / 2);
    }
    .to-top {
        border: 1px solid $white;
        width: 28px;
        height: 28px;
        text-indent: -99999px;
        display: inline-block;
        background: $primary-dark;
        padding: 3px 9px;
        transition: background .25s ease;
        @include media-breakpoint-up(md) {
            width: 40px;
            height: 40px;
            padding: 9px 14px;
        }
        &:hover {
            background: $primary;
        }
        &:before {
            content: url("data:image/svg+xml,%3Csvg width='9' height='14' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5.5l4.5 9H5v4H4v-4H0z' fill='%23FFF' fill-rule='nonzero'/%3E%3C/svg%3E");
            text-indent: 0;
            float: left;
            width: 9px;
            height: 13px;
            @include media-breakpoint-up(md) {
                content: url("data:image/svg+xml,%3Csvg width='10' height='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.5 19.5v-10h4L5 .5l-4.5 9h4v10z' fill='%23FFF' fill-rule='nonzero'/%3E%3C/svg%3E%0A");
                height: 19px; 
            }
        }
    }
}