.picturefill-background { 
    position: relative;
    z-index: 0;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

// Ordered and unordered Lists
//============================
.frame .ce-bodytext ol, .accordion .card-body ol {
    list-style-type: none;
    counter-reset: item;
    padding: 0;
    li {
        counter-increment: item;
        padding-left: 1.25rem;
        // margin-bottom: 0.75rem;
        &:before {
            margin-left: -1.25rem;
            width: 1.25rem;
            content: counters(item,".") ". ";
            display: inline-block;
            font-family: $headings-font-family;
            font-weight: 700;
            color: $primary;
        }
        ul, ol {
            margin-top: $paragraph-margin-bottom;
            li:before {
                color: $primary-lighter;
            }
        }
        ol {
            li {
                padding-left: 2rem;
                &:before {
                    margin-left: -2rem;
                    width: 2rem;
                }
                ol {
                    li {
                        padding-left: 2.75rem;
                        &:before {
                            margin-left: -2.75rem;
                            width: 2.75rem;
                        }
                    }
                }
            }
        }
    }
}

.frame .ce-bodytext ul, .accordion .card-body ul {
    list-style-type: none;
    padding: 0;
    li {
        padding-left: 1.25rem;
        text-indent: -1.25rem;
        // margin-bottom: 0.75rem;
        &:before {
            content: "";
            display: inline-block;
            height: 8px;
            width: 8px;
            border-radius: 4px;
            background: $primary;
            margin-right: 0.75rem;
            margin-bottom: 2px;
        }
        ul, ol {
            margin-top: $paragraph-margin-bottom;
            li:before {
                background: $primary-lighter;
            }
        }
    }
    &.link-list {
        
    }
}

// Cards
//============================
.card {
    border-radius: 0;
    .card-img-top, .card-img-bottom, .card-header, .card-body, .card-footer {
        border-radius: 0;
    }
}

// Footer
//============================
footer {
    padding: 3rem 0 2rem;
    background-color: $primary-dark;
    color: white;
    h1, h2, h3, h4, h5, h6 {
        color: $white;
    }
    h6 {
        font-size: 1.125rem;
    }
    span {
        &.phone, &.fax, &.mail {
            &:before {
                color: $white;
                font-family: $font-family-sans-serif;
                font-weight: 400;
                margin-right: 0;
            }
        }
        &.phone:before { content: "T"; }
        &.fax:before { content: "F"; }
        &.mail:before { content: "E"; }
    }
    a {
        font-weight: 400;
        color: $primary-lighter;
        background-image: none;
        &:hover {
            color: $primary-lightest;
        }
    }
    .frame-type-menu_pages {
        ul {
            padding-left: 0;
            li {
                list-style-type: none;
                margin-bottom: 0;
                &:not(:last-child) {
                    margin-bottom: 6px;
                }
            }
        }
    }
    .doctors-shape {
        background-image: url("/typo3conf/ext/project_configuration/Resources/Public/Images/silhouettes.png");
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        min-height: 234px;
    }
    .row {
        margin-bottom: -20px;
        &>[class*='col-'] {
            margin-bottom: 20px;
        }
    }
    &#contentinfo{
        padding: 20px 0;
        @include media-breakpoint-up(lg) {
            padding: 45px 0 20px 0;
        }
    }
    .footer-metasection {
        margin-top: 20px;
        @include media-breakpoint-up(lg) {
            margin-top: 45px;
        }
        .copyright {
            margin-bottom: 0;
        }
    }
}
