.picturefill-background { 
    position: relative;
    z-index: 0;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

// Ordered and unordered Lists
//============================
.frame .ce-bodytext ol {
    list-style-type: none;
    counter-reset: item;
    padding: 0;
    li {
        counter-increment: item;
        padding-left: 1.25rem;
        margin-bottom: 0.75rem;
        &:before {
            margin-left: -1.25rem;
            width: 1.25rem;
            content: counters(item,".") ". ";
            display: inline-block;
            font-family: "Open Sans Condensed";
            font-weight: 700;
            color: $primary;
        }
        ul, ol {
            margin-top: 0.75rem;
            li:before {
                color: $primary-lighter;
            }
        }
        ol {
            li {
                padding-left: 2rem;
                &:before {
                    margin-left: -2rem;
                    width: 2rem;
                }
                ol {
                    li {
                        padding-left: 2.75rem;
                        &:before {
                            margin-left: -2.75rem;
                            width: 2.75rem;
                        }
                    }
                }
            }
        }
    }
}

.frame .ce-bodytext ul {
    list-style-type: none;
    padding: 0;
    li {
        padding-left: 1.25rem;
        text-indent: -1.25rem;
        margin-bottom: 0.75rem;
        &:before {
            content: "";
            display: inline-block;
            height: 8px;
            width: 8px;
            border-radius: 4px;
            background: $primary;
            margin-right: 0.75rem;
            margin-bottom: 2px;
        }
        ul, ol {
            margin-top: 0.75rem;
            li:before {
                background: $primary-lighter;
            }
        }
    }
    &.link-list {
        
    }
}

// Cards
//============================
.card {
    border-radius: 0;
    .card-img-top, .card-img-bottom, .card-header, .card-body, .card-footer {
        border-radius: 0;
    }
}

// Footer
//============================
footer {
    padding: 3rem 0 2rem;
    background-color: $gray-200;
    h2.footer-brand {
        width: 275px;
        height: 3.5rem;
        text-indent: -99999px;
        background: url($logo-path) no-repeat;
        background-position: left top;
        background-size: contain;
        margin-bottom: 1.5rem;
    }
    .copyright {
        margin-bottom: 0;
    }
}
