.picturefill-background { 
    position: relative;
    z-index: 0;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

// Ordered and unordered Lists
//============================
.frame .ce-bodytext ol {
    list-style-type: none;
    counter-reset: item;
    padding: 0;
    li {
        counter-increment: item;
        padding-left: 1.5em;
        line-height: 1.5em;
        margin-bottom: 0.75rem;
        &:before {
            margin-left: -1.5em;
            width: 1.5em;
            content: counters(item,".") ". ";
            display: inline-block;
            font-family: "Open Sans Condensed";
            font-weight: 700;
            color: $primary;
        }
        ul, ol {
            margin-top: 0.75rem;
            li:before {
                color: $primary-lighter;
            }
        }
        ol {
            li {
                padding-left: 2.5em;
                &:before {
                    margin-left: -2em;
                    width: 2.5em;
                }
                ol {
                    li {
                        padding-left: 3em;
                        &:before {
                            margin-left: -2.5em;
                            width: 3em;
                        }
                    }
                }
            }
        }
    }
}

.frame .ce-bodytext ul {
    list-style-type: none;
    padding: 0;
    li {
        padding-left: 1em;
        text-indent: -1em;
        margin-bottom: 0.75rem;
        line-height: 1.5;
        &:before {
            content: "\002022";
            padding-right: 0.5em;
            color: $primary;
        }
        ul, ol {
            margin-top: 0.75rem;
            li:before {
                color: $primary-lighter;
            }
        }
    }
    &.link-list {
        li:before {
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            content: "\f105";
        }
    }
}

// Cards
//============================
.card {
    border-radius: 0;
    .card-img-top, .card-img-bottom, .card-header, .card-body, .card-footer {
        border-radius: 0;
    }
}

// Footer
//============================
footer {
    padding: 3rem 0 2rem;
    background-color: $gray-200;
    h2.footer-brand {
        width: 275px;
        height: 3.5rem;
        text-indent: -99999px;
        background: url($logo-path) no-repeat;
        background-position: left top;
        background-size: contain;
        margin-bottom: 1.5rem;
    }
    .copyright {
        margin-bottom: 0;
    }
}
