// /****** Uploads *******/

$path-to-icons: "/typo3conf/ext/base_configuration/node_modules/@fortawesome/fontawesome-free/svgs/solid/";

.frame-type-uploads {
    .downloads {
        .media {
            border: 1px solid $gray-200;
            margin-bottom: ($grid-gutter-width / 2);
            transition: box-shadow 0.5s;
            position: relative;
            &:hover {
                box-shadow: 0px 4px 10px rgba(0,0,0,0.4);
            }
            .media-body {
                padding: ($grid-gutter-width / 2);
                min-height: 120px;
                a {
                    &:hover {
                        text-decoration: none;
                        color: $primary;
                    }
                }
                h5 {
                    color: $primary;
                    margin-bottom: 0;
                    font-size: 1rem;
                    @include media-breakpoint-up(lg) {
                        font-size: 1.125rem;
                    }
                }
                p {
                    margin-bottom: 0;
                    font-size: 0.875rem;
                    color: $gray-600;
                    @include media-breakpoint-up(lg) {
                        font-size: 1rem;
                    }
                    &.media-size, &.media-type {
                        display: inline-block;
                        text-transform: uppercase;
                        margin-top: 0.5rem;
                        margin-bottom: 0;
                        font-weight: bold;
                        font-size: 0.875rem;
                        color: $gray-600;
                        @include media-breakpoint-up(lg) {
                            font-size: 1rem;
                        }
                    }
                    &.media-size:before {
                        content: '|';
                        display: inline-block;
                        padding: 0 0.75rem;
                        font-weight: normal;
                    }
                }
            }
            .media-icon-wrapper {
                &:before {
                    content: "\f15b";
                    display: block;
                    line-height: 1;
                    font-family: "Font Awesome 5 Free";
                    font-size: 90px;
                    padding: ($grid-gutter-width / 2);
                    padding-right: 0;
                }
                &.filetype-doc, &.filetype-docx {
                    &:before { content: "\f1c2"; }
                }
                &.filetype-xls, &.filetype-xlsx {
                    &:before { content: "\f1c3"; }
                }
                &.filetype-ppt, &.filetype-pptx {
                    &:before { content: "\f1c4"; }
                }
                &.filetype-pdf {
                    &:before { content: "\f1c1"; }
                }
            }
        }
    }
}
