/* --- Utility classes --- */

// form square elements into a circle. 
// if not used in combination with square elements the result will be an oval.
.circular-border {
	border-radius: 50%
}

// display classes for each breakpoint
.ck-d-xs-none {
	@include media-breakpoint-only(xs) {
		display: none;
	}
}
.ck-d-sm-none {
	@include media-breakpoint-only(sm) {
		display: none;
	}
}
.ck-d-md-none {
	@include media-breakpoint-only(md) {
		display: none;
	}
}
.ck-d-lg-none {
	@include media-breakpoint-only(lg) {
		display: none;
	}
}
.ck-d-xl-none {
	@include media-breakpoint-only(xl) {
		display: none;
	}
}