/*
 * Any theme variable
*/

$logo-path: "/typo3conf/ext/base_configuration/Resources/Public/Images/logo.svg";

$primary-light: #3EA3DC;
$primary-lighter: #86C2EB;
$primary-lightest: #BCE4FA;
$primary-dark: #004361;

$frame-spacer: 32px;