/*
 * Any theme variable
*/

$logo-path: "/typo3conf/ext/project_configuration/Resources/Public/Images/oze_logo.svg";
$logo-big-path: "/typo3conf/ext/project_configuration/Resources/Public/Images/oze_logo_big.svg";
$logo-white-path: "/typo3conf/ext/project_configuration/Resources/Public/Images/oze_logo_white.svg";

$primary-light: #3EA3DC;
$primary-lighter: #86C2EB;
$primary-lightest: #BCE4FA;
$primary-dark: #004361;

$frame-spacer: 32px;
$col-spacer: 36px;