/*
 * Any theme variable
*/

$logo-path: "/typo3conf/ext/project_configuration/Resources/Public/Images/oze_logo.svg";
$logo-big-path: "/typo3conf/ext/project_configuration/Resources/Public/Images/oze_logo_big.svg";
$logo-white-path: "/typo3conf/ext/project_configuration/Resources/Public/Images/oze_logo_white.svg";

$primary-light: #3EA3DC;
$primary-lighter: #86C2EB;
$primary-lightest: #BCE4FA;
$primary-dark: #004361;

$background-gradient: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(62,163,220,0.07) 20%, rgba(62,163,220,0.2) 50%, rgba(62,163,220,0.07) 80%, rgba(255,255,255,1) 100%);

$frame-spacer: 32px;
$section-spacer: 16px;
$col-spacer: 36px;

$grid-gutter-width-mobile: 16px;