// _variables.scss

:root {
	--logo-scale: 1;
    --navbar-padding-y: 0.375em;
    --logo-height: 56;
    --logo-width: 57;
    @include media-breakpoint-up(md) {
        --logo-scale: 1;
        --logo-height: 80;
        --logo-width: 157;
        --navbar-padding-y: 0.625em;
    }
    @include media-breakpoint-up(xl) {
        --logo-scale: 1;
        --navbar-padding-y: 0.625em;
    }
}

// _variables.scss
// _globals.scss

.has-image:not(.card-jumbotron):not(.section-50-50) {
    * { color: $white; }
    &.overlay-c1 {
        --bs-heading-color: #{$primary};
        *:not(.btn) { color: inherit; }
        h1,h2,h3,h4 {
            color: var(--bs-heading-color) !important;
        }
    }
}

// _globals.scss
// _section.scss

.section {
    &.tc-2, &.has-image:not(.section-50-50) {
        --bs-heading-color: #{$white};
        p>a {
            --bs-link-color-rgb: #{$primary-lighter};
            --bs-link-hover-color-rgb: #{$primary-lightest};
            color: var(--bs-link-color-rgb);
            &:hover {
                --#{$prefix}link-color-rgb: var(--#{$prefix}link-hover-color-rgb);
            }
        }
    }
}

// _section.scss
// _extended-section.scss

.card-jumbotron.has-content.has-image {
    background-color: $primary;
}

.card-jumbotron.has-content.has-image .card-img-overlay,
.card-jumbotron.has-content > .container {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    @include media-breakpoint-up(sm) {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    @include media-breakpoint-up(md) {
        padding-top: 3.75rem;
        padding-bottom: 3.75rem;
    }
    @include media-breakpoint-up(lg) {
        padding-top: 3.75rem;
        padding-bottom: 3.75rem;
    }
}

// _extended-section.scss
// _theme.scss

h1, .h1, .frame[class*='frame-type-cols'] > header > h1 {
    @include media-breakpoint-up(md) {
        font-size: 2.375rem;
        margin-bottom: 0.7em;
    }
    @include media-breakpoint-up(xl) {
        font-size: 2.375rem;
        margin-bottom: 0.583333333333333em;
    }
}
h2, .h2, .frame[class*='frame-type-cols'] > header > h2 {
    margin-bottom: 0.666666666666667em;
    @include media-breakpoint-up(md) {
        font-size: 2rem;
        margin-bottom: 0.666666666666667em;
    }
    @include media-breakpoint-up(xl) {
        font-size: 2rem;
        margin-bottom: 0.666666666666667em;
    }
}
h3, .h3, .frame[class*='frame-type-cols'] > header > h3 {
    margin-bottom: 0.666666666666667em;
    @include media-breakpoint-up(md) {
        font-size: 1.75rem;
        margin-bottom: 0.714285714285714em;
    }
    @include media-breakpoint-up(xl) {
        font-size: 1.75rem;
        margin-bottom: 0.705882352941176em;
    }
}
h4, .h4, .frame[class*='frame-type-cols'] > header > h4 {
    @include media-breakpoint-up(md) {
		font-size: 1.5rem;
	}
    @include media-breakpoint-up(xl) {
        font-size: 1.5rem;
        margin-bottom: 1em;
    }
}

.lead {
    @include media-breakpoint-up(md) {
        font-size: 1.25rem;
        font-weight: $font-weight-light;
    }
    @include media-breakpoint-up(xl) {
        font-size: 1.375rem;
    }
}

.btn {
    font-family: $headings-font-family;
    font-weight: 700;
    letter-spacing: 0.025em;
}

.btn-type-0 {
    --bs-btn-color: #{$primary};
    --bs-btn-border-color: #{$primary};
    --bs-btn-hover-bg: #{$primary};
    --bs-btn-hover-border-color: #{$primary};
    --bs-btn-active-bg: #{$primary};
    --bs-btn-active-border-color: #{$primary};
    --bs-btn-disabled-color: #{$primary};
    --bs-btn-disabled-border-color: #{$primary};
}

.btn-type-1 {
    --bs-btn-bg: #{$primary};
    --bs-btn-border-color: #{$primary};
    --bs-btn-hover-color: #{$primary};
    --bs-btn-hover-bg: #{$white};
    --bs-btn-hover-border-color: #{$primary};
    --bs-btn-active-color: #{$white};
    --bs-btn-active-bg: #{$primary};
    --bs-btn-active-border-color: #{$primary};
}

.frame.frame-type-cardGroup {
    header {
        margin-bottom: 0 !important;
    }
    h1,h2,h3,h4,h5 {
        font-size: 1.375rem;
        @include media-breakpoint-up(sm) {
            font-size: 1.375rem;
            margin-bottom: 0.5em;
        }
    }
}

.frame-type-menu_pages,
.frame-type-menu_subpages,
.frame-type-card,
.grid-cards, .card-group, .masonry-cards, .card-carousel {
    .card {
        --bs-card-spacer-x: 0.75rem;
        --bs-card-color: #{$primary};
        box-shadow: none;
        .match img, .video-embed video {
            padding: 0;
        }
        .card-body {
            padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
            p {
                font-size: 1.125rem;
                font-weight: $font-weight-light;
            }
        }
        .card-title {
            font-size: 1.375rem;
        }
        @include media-breakpoint-up(lg) {
            --bs-card-spacer-x: 1.5rem;
            --bs-card-spacer-y: 1.5rem;
        }
    }
}

.frame-type-menu_pages,
.frame-type-menu_subpages {
    figure.video {
        .video-embed {
            @extend .ratio;
            @extend .ratio-16x9;
        }
    }
    .card-horizontal {
        figure.video {
            .video-embed {
                @extend .ratio;
                @extend .ratio-1x1;
            }
        }
    }
}

footer#footer {
    background-color: $dark;
}

// _theme.scss
// _burger-animation.scss

.hamburger-box {
    width: 22px;
    height: 22px;
    .hamburger-inner {
        margin-top: -3px;
        width: 22px;
        margin-left: 0px;
    }
    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
        height: 4px;
    }
    .hamburger-inner::before, .hamburger-inner::after {
        content: "";
        display: block;
        width: 22px;
        left: 0px;
    }
    .hamburger-inner::before {
        top: -9px;
        background-color: $primary-light;
    }
    .hamburger-inner::after {
        bottom: -9px;
        background-color: $primary-light;
    }
}
.hamburger--squeeze[aria-expanded="true"] .hamburger-inner {
    width: 22px;
    &::after {
        background-color: $primary;
    }
}

// _burger-animation.scss
// _breadcrumb.scss

.breadcrumb {
    --bs-breadcrumb-font-size: 0.875rem;
    --bs-breadcrumb-divider-color: #{$primary};
    --bs-breadcrumb-item-active-color: #A0A0A0;
    margin-top: var(--bs-breadcrumb-margin-bottom);
    font-weight: $font-weight-semibold;
    color: #A0A0A0;
}

// _breadcrumb.scss
// _custom_fluid_styled_content.scss

.frame .list-group + p {
    margin-top: 0.625em;
}

// _custom_fluid_styled_content.scss

a {
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}

.list-group-numbered {
    > .list-group-item::before {
        font-family: $headings-font-family;
        font-weight: $font-weight-bold;
        color: $primary;
    }
}

.btn-read-more {
    --bs-btn-font-size: 1.125rem;
    --bs-btn-color: #{$primary};
    --bs-btn-padding-x: 1.25em;
    --bs-btn-padding-y: 0;
    --bs-btn-border-width: 0;
    padding-left: 0;
    position: relative;
	background-image: linear-gradient(to right, $primary-lighter 0%, $primary-lighter 100%);
    background-repeat: no-repeat;
    background-size: 0% 2px;
    background-position: 0 100%;
    transition: background-size 0.3s ease-in-out 0s;
    &:before, &:after {
		content: '';
		display: block;
		position: absolute;
		border-radius: 50%;
	}
	&:before {
		background-color: $primary-light;
		height: 7px;
		width: 7px;
		right: 8px;
		bottom: 8px;
	}
	&:after {
		background-color: $primary-lighter;
		height: 5px;
		width: 5px;
		right: 0;
		bottom: 9px;
	}
    &:hover {
		background-size: 100% 2px;
	}
}

.frame-type-extendedSectionTeaser {
    @include media-breakpoint-up(md) {
        padding: 1rem 2rem 1rem 0;
        display: inline-block;
        background-color: $primary;
        position: relative;
        &::before {
            content: "";
            background-color: $primary;
            position: absolute;
            left: calc((((100vw - #{map-get($container-max-widths, "md")}) * 0.5) + (var(--bs-gutter-x) * .5)) * -1);
            top: 0;
            right: 0;
            bottom: 0;
            width: calc(((100vw - #{map-get($container-max-widths, "md")}) * 0.5) + (var(--bs-gutter-x) * .5));
            height: 100%;
        }
    }
}

.nav-buttons {
    display: flex;
}
a.nav-call {
    display: inline-block;
    font-size: 1rem;
    line-height: 0;
    text-transform: uppercase;
    text-indent: -99999px;
    position: relative;
    width: 24px;
    height: 24px;
    margin-right: 1.75rem;
    &::after {
        content: "";
        background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%2386C2EB' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511zM11 .5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V1.707l-4.146 4.147a.5.5 0 0 1-.708-.708L14.293 1H11.5a.5.5 0 0 1-.5-.5z' clip-rule='evenodd'/></svg>");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
    }
    &:hover {
        &::after {
            background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%230073A5' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511zM11 .5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V1.707l-4.146 4.147a.5.5 0 0 1-.708-.708L14.293 1H11.5a.5.5 0 0 1-.5-.5z' clip-rule='evenodd'/></svg>");
        }
    }
}

.btn-call-desktop {
    --bs-btn-color: #{$primary-lighter};
    --bs-btn-hover-color: #{$primary};
    --bs-btn-active-color: #{$primary};
    padding: 0;
    font-size: 1.25rem;
    border: none;
    padding-left: 30px;
    margin-right: calc(var(--bs-gutter-x) * -.5);
    top: 10px;
    &::before {
        content: "";
        background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%2386C2EB' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511zM11 .5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V1.707l-4.146 4.147a.5.5 0 0 1-.708-.708L14.293 1H11.5a.5.5 0 0 1-.5-.5z' clip-rule='evenodd'/></svg>");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        display: block;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 5px;
        left: 0;
    }
    &:hover {
        &::before {
            background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%230073A5' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511zM11 .5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V1.707l-4.146 4.147a.5.5 0 0 1-.708-.708L14.293 1H11.5a.5.5 0 0 1-.5-.5z' clip-rule='evenodd'/></svg>");
        }
    }
}
.opening-hours {
    margin-top: 70px;
}

table.table {
    p { font-size: 1rem; }
	th, td {
		border-top: none;
		border-bottom: 1px solid $primary-lighter;
		padding: 8px 16px 8px 0;
	}
	th {
		font-weight: $font-weight-semibold;
		color: $primary;
	}
	caption {
		padding: 0;
		caption-side: top;
		@extend h5;
	}
}

span {
    &.phone, &.fax, &.mail {
    	width: 24px;
        text-indent: -99999px;
        display: inline-block;
        position: relative;
        padding-left: 30px;
        &::before {
            content: "";
            background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%230073A5' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511zM11 .5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V1.707l-4.146 4.147a.5.5 0 0 1-.708-.708L14.293 1H11.5a.5.5 0 0 1-.5-.5z' clip-rule='evenodd'/></svg>");
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            display: block;
            width: 20px;
            height: 20px;
            position: absolute;
            top: 3px;
            left: 0;
        }
    }
    &.fax {
        &::before {
            content: "";
            background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%230073A5' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M5,1C3.9,1,3,1.9,3,3v1h10V3c0-1.1-0.9-2-2-2H5z M11,9H5c-0.6,0-1,0.4-1,1v3c0,0.6,0.4,1,1,1h6c0.6,0,1-0.4,1-1v-3 C12,9.4,11.6,9,11,9z M0,7c0-1.1,0.9-2,2-2h12c1.1,0,2,0.9,2,2v3c0,1.1-0.9,2-2,2h-1v-2c0-1.1-0.9-2-2-2H5c-1.1,0-2,0.9-2,2v2H2 c-1.1,0-2-0.9-2-2V7z M2.5,8C2.8,8,3,7.8,3,7.5S2.8,7,2.5,7S2,7.2,2,7.5S2.2,8,2.5,8z' clip-rule='evenodd'/></svg>");
            background-size: cover;
            background-position: center center;
        }
    }
    &.mail {
        &::before {
            content: "";
            background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%230073A5' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z' clip-rule='evenodd'/></svg>");
            background-size: cover;
            background-position: center center;
        }
    }
}

.tc-3 {
    background: $background-gradient;
}

.tc-4 {
    --bs-heading-color: #{$white};
    color: $white;
    background-color: $primary;
    p>a {
        --bs-link-color-rgb: #{$white};
        --bs-link-hover-color-rgb: #{$primary-lightest};
        color: var(--bs-link-color-rgb);
        &:hover {
            --#{$prefix}link-color-rgb: var(--#{$prefix}link-hover-color-rgb);
        }
    }
}

footer#footer {
    a { text-decoration: none; }
    p { font-size: 1rem; }
    > .container { position: relative; }
    .nav-link {
        --bs-nav-link-font-size: 1rem;
        --bs-nav-link-font-weight: #{$font-weight-normal};
        --bs-nav-link-color: #{$primary-lighter};
        --bs-nav-link-hover-color: #{$primary-lightest};
        --bs-nav-link-padding-y: 0.375rem;
        &:hover, &:focus {
            color: var(--bs-nav-link-hover-color);
        }
        padding-top: 0;
        padding-bottom: 0;
        &:not(:last-child) {
            padding-bottom: var(--bs-nav-link-padding-y);
        }
    }
    .doctors-shape {
        background-image: url("/typo3conf/ext/base_theme/Resources/Public/Images/silhouettes-duo.svg");
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        min-height: 234px;
    }
    .top-link {
        position: absolute;
        top: var(--bs-gutter-y);
        right: calc(var(--bs-gutter-x) * .5);
        border: 1px solid $white;
        width: 28px;
        height: 28px;
        text-indent: -99999px;
        display: inline-block;
        background: $primary-dark;
        padding: 3px 9px;
        transition: background .25s ease;
        @include media-breakpoint-up(md) {
            width: 40px;
            height: 40px;
            padding: 9px 14px;
            
        }
        &:hover {
            background: $primary;
        }
        &:before {
            content: url("data:image/svg+xml,%3Csvg width='9' height='14' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5.5l4.5 9H5v4H4v-4H0z' fill='%23FFF' fill-rule='nonzero'/%3E%3C/svg%3E");
            text-indent: 0;
            float: left;
            width: 9px;
            height: 13px;
            @include media-breakpoint-up(md) {
                content: url("data:image/svg+xml,%3Csvg width='10' height='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.5 19.5v-10h4L5 .5l-4.5 9h4v10z' fill='%23FFF' fill-rule='nonzero'/%3E%3C/svg%3E%0A");
                height: 19px; 
            }
        }
    }
    .footer-metasection {
        @extend .mt-1;
        @extend .mt-lg-3;
    }
    .frame-type-nav_pages header,
    .frame-type-nav_subpages header {
        margin-bottom: 0.875em !important;
    }
    span {
        &.phone, &.fax, &.mail {
            width: 16px;
            text-indent: -99999px;
            display: inline-block;
            padding-left: 0;
            &:before {
                content: "·";
                background-image: none;
                width: 1em;
                float: left;
                text-align: left;
                text-indent: 0;            
                color: $white;
                font-family: $font-family-sans-serif;
                font-weight: 400;
                margin-right: 0;
                top: auto;
            }
        }
        &.phone:before { content: "T"; }
        &.fax:before { content: "F"; }
        &.mail:before { content: "E"; }
    }
}
.frame-type-textmedia, .frame-type-text {
    &.frame-layout-1 {
        padding: 18px 28px 18px 12px;
        background: $oze-gray-light;
        border-left: 2px solid $primary;
        @include media-breakpoint-up(md) {
            padding: 24px;
        }
    }
}
.page-jumbotron, .card-jumbotron.has-content.tc-0 {
    --bs-heading-color: #{$white};
    --bs-card-color: #{$white};
    background-color: $primary;
    color: var(--bs-card-color);
}
