.DS_Store

/var
/vendor

/config/sites/*/config.yaml

/public/*
!/public/typo3conf
/public/typo3conf/*
/public/typo3conf/AdditionalConfiguration.php

# yarn/npm files
node_modules/
yarn-error.log

package-lock.json

!.keep

/packages/*
!/packages/base_project
!/packages/base_theme
/packages/base_theme/Resources/Public/*
!/packages/base_theme/Resources/Public/Icons/

/old_project_configuration/*