.form-control {
    &:focus {
        background-color: rgba(255,255,255,.2);
    }
}
textarea.form-control {
    height: 9.1em;
}
.form-group {
    input, textarea, label {
        color: #000;
    }
    input, textarea {
        background-color: rgba(255,255,255,.2);
        border-width: 1px;
        border-color: #000;
        border-radius: 0;
        padding:1.5em;
    }
    input {
        padding:1.5em;
    }
}
@media (min-width: 1200px) {
    form#kontaktformular-114 {
        float: left;
        > .row {
            width: 1140px / 2 - 24px;
            float: right;
            margin: 0;
            > [class*="col-"] {
                margin: 0;
                padding: 0;
            }
        }
        > .row:nth-of-type(2) {
            float: left;
        }
        .actions {
            width: 100%;
            float: left;
            margin-top: 0.5em;
            text-align: center;
            .form-navigation {
                display: inline-block;
            }
        }
    }
    
}