<f:switch expression="{data.flexform_visualAppearance}">
    <f:case value="accordion">
        <div id="accordion-{data.uid}" class="{f:render(partial: 'ContainerClasses', arguments: {data: data}) -> cc:format.classes()} accordion">
            <f:render partial="Accordion" arguments="{data: data, header: 'true'}" />
        </div>
    </f:case>
    <f:case value="tabs">
        <div id="accordion-{data.uid}" class="accordion tab {f:if(condition: '{data.flexform_responsiveBehavior} != none', then: 'accordion-fallback-{data.flexform_responsiveBehavior}')}">
            <f:render partial="TabHeader" arguments="{data: data, field: 'collapse'}" />
            <f:if condition="{data.flexform_responsiveBehavior} != 'none'">
                <f:then>
                    <f:render partial="Accordion" arguments="{data: data, header: 'true'}" />
                </f:then>
                <f:else>
                    <f:render partial="Accordion" arguments="{data: data, header: 'false'}" />
                </f:else>
            </f:if>
        </div>
    </f:case>
</f:switch>