/* open-sans-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../Fonts/open-sans-v35-latin/open-sans-v35-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-300italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    src: url('../Fonts/open-sans-v35-latin/open-sans-v35-latin-300italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../Fonts/open-sans-v35-latin/open-sans-v35-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: url('../Fonts/open-sans-v35-latin/open-sans-v35-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../Fonts/open-sans-v35-latin/open-sans-v35-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-500italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 500;
    src: url('../Fonts/open-sans-v35-latin/open-sans-v35-latin-500italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../Fonts/open-sans-v35-latin/open-sans-v35-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-600italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    src: url('../Fonts/open-sans-v35-latin/open-sans-v35-latin-600italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../Fonts/open-sans-v35-latin/open-sans-v35-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-700italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src: url('../Fonts/open-sans-v35-latin/open-sans-v35-latin-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-800 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: url('../Fonts/open-sans-v35-latin/open-sans-v35-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-800italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 800;
    src: url('../Fonts/open-sans-v35-latin/open-sans-v35-latin-800italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* open-sans-condensed-300 - latin */
@font-face {
    font-display: swap;
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 300;
    src: url('../Fonts/open-sans-condensed-v14-latin/open-sans-condensed-v14-latin-300.woff2') format('woff2');
}
/* open-sans-condensed-300italic - latin */
@font-face {
    font-display: swap;
    font-family: 'Open Sans Condensed';
    font-style: italic;
    font-weight: 300;
    src: url('../Fonts/open-sans-condensed-v14-latin/open-sans-condensed-v14-latin-300italic.woff2') format('woff2');
}
/* open-sans-condensed-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 700;
    src: url('../Fonts/open-sans-condensed-v14-latin/open-sans-condensed-v14-latin-700.woff2') format('woff2');
}

// =============
// = Bootstrap =
// =============

@import "public/typo3conf/ext/base_project/Resources/Private/Scss/Frontend/Libraries/custom-bootstrap";

// @import "node_modules/bootstrap/scss/bootstrap.scss";

@import "node_modules/bootstrap/scss/mixins/banner";
@include bsBanner("");

// Configuration
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/variables-dark";
@import "node_modules/bootstrap/scss/maps";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/utilities";

// Layout & components
@import "node_modules/bootstrap/scss/root";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/containers";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/tables";
@import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/transitions";
@import "node_modules/bootstrap/scss/dropdown";
@import "node_modules/bootstrap/scss/button-group";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/navbar";
@import "node_modules/bootstrap/scss/card";
@import "node_modules/bootstrap/scss/accordion";
@import "node_modules/bootstrap/scss/breadcrumb";
@import "node_modules/bootstrap/scss/pagination";
@import "node_modules/bootstrap/scss/badge";
@import "node_modules/bootstrap/scss/alert";
@import "node_modules/bootstrap/scss/progress";
@import "node_modules/bootstrap/scss/list-group";
@import "node_modules/bootstrap/scss/close";
@import "node_modules/bootstrap/scss/toasts";
@import "node_modules/bootstrap/scss/modal";
@import "node_modules/bootstrap/scss/tooltip";
@import "node_modules/bootstrap/scss/popover";
@import "node_modules/bootstrap/scss/carousel";
@import "node_modules/bootstrap/scss/spinners";
@import "node_modules/bootstrap/scss/offcanvas";
@import "node_modules/bootstrap/scss/placeholders";

// Helpers
@import "node_modules/bootstrap/scss/helpers";

// Utilities
@import "node_modules/bootstrap/scss/utilities/api";


// =============
// = Theme all =
// =============

// Basic Sass
@import "public/typo3conf/ext/base_configuration/Resources/Private/Scss/Frontend/Theme/variables";
@import "public/typo3conf/ext/base_configuration/Resources/Private/Scss/Frontend/Theme/globals";

@import "public/typo3conf/ext/base_configuration/Resources/Private/Scss/Frontend/Theme/burger-animation";
@import "public/typo3conf/ext/base_project/Resources/Private/Scss/Frontend/Theme/navigation";
// @import "public/typo3conf/ext/base_configuration/Resources/Private/Scss/Frontend/Theme/language-navigation";
@import "public/typo3conf/ext/base_configuration/Resources/Private/Scss/Frontend/Theme/breadcrumb";
@import "public/typo3conf/ext/base_configuration/Resources/Private/Scss/Frontend/Theme/sociallinks";

// Content Elements
@import "public/typo3conf/ext/base_configuration/Resources/Private/Scss/Frontend/Contentelements/overlay";
@import "public/typo3conf/ext/base_configuration/Resources/Private/Scss/Frontend/Contentelements/extended-section";
@import "public/typo3conf/ext/base_configuration/Resources/Private/Scss/Frontend/Contentelements/section";
@import "public/typo3conf/ext/base_configuration/Resources/Private/Scss/Frontend/Contentelements/columns";
@import "public/typo3conf/ext/base_configuration/Resources/Private/Scss/Frontend/Contentelements/menus";
@import "public/typo3conf/ext/base_configuration/Resources/Private/Scss/Frontend/Contentelements/card-group";
@import "public/typo3conf/ext/base_configuration/Resources/Private/Scss/Frontend/Contentelements/button";
@import "public/typo3conf/ext/base_configuration/Resources/Private/Scss/Frontend/Contentelements/div";
@import "public/typo3conf/ext/base_configuration/Resources/Private/Scss/Frontend/Contentelements/accordion";
@import "public/typo3conf/ext/base_configuration/Resources/Private/Scss/Frontend/Contentelements/blockquote";
@import "public/typo3conf/ext/base_configuration/Resources/Private/Scss/Frontend/Contentelements/uploads";
@import "public/typo3conf/ext/base_configuration/Resources/Private/Scss/Frontend/Contentelements/nav_pages_and_subpages";

// Additions and theming
@import "public/typo3conf/ext/base_configuration/Resources/Private/Scss/Frontend/Theme/custom-fluid_styled_content";
@import "public/typo3conf/ext/base_configuration/Resources/Private/Scss/Frontend/Theme/theme";

@import "public/typo3conf/ext/base_project/Resources/Private/Scss/Frontend/Theme/_child.scss";