@import "public/typo3conf/ext/base_project/Resources/Private/Scss/Frontend/Libraries/custom-bootstrap";

@import "public/typo3conf/ext/base_project/Resources/Private/Scss/Frontend/Contentelements/custom-carousel.scss";

@import "node_modules/swiper/swiper.scss";
@import "node_modules/swiper/modules/a11y.scss";
@import "node_modules/swiper/modules/autoplay.scss";
@import "node_modules/swiper/modules/controller.scss";
@import "node_modules/swiper/modules/effect-cards.scss";
@import "node_modules/swiper/modules/effect-coverflow.scss";
@import "node_modules/swiper/modules/effect-creative.scss";
@import "node_modules/swiper/modules/effect-cube.scss";
@import "node_modules/swiper/modules/effect-fade.scss";
@import "node_modules/swiper/modules/effect-flip.scss";
@import "node_modules/swiper/modules/free-mode.scss";
@import "node_modules/swiper/modules/grid.scss";
@import "node_modules/swiper/modules/hash-navigation.scss";
@import "node_modules/swiper/modules/history.scss";
@import "node_modules/swiper/modules/keyboard.scss";
@import "node_modules/swiper/modules/manipulation.scss";
@import "node_modules/swiper/modules/mousewheel.scss";
@import "node_modules/swiper/modules/navigation.scss";
@import "node_modules/swiper/modules/pagination.scss";
@import "node_modules/swiper/modules/parallax.scss";
@import "node_modules/swiper/modules/scrollbar.scss";
@import "node_modules/swiper/modules/thumbs.scss";
@import "node_modules/swiper/modules/virtual.scss";
@import "node_modules/swiper/modules/zoom.scss";