@import "public/typo3conf/ext/base_project/Resources/Private/Scss/Frontend/Libraries/custom-bootstrap";

@import "public/typo3conf/ext/base_project/Resources/Private/Scss/Frontend/Contentelements/custom-carousel.scss";

@import "node_modules/swiper/swiper.scss";
@import "node_modules/swiper/modules/a11y/a11y.scss";
@import "node_modules/swiper/modules/effect-cards/effect-cards.scss";
@import "node_modules/swiper/modules/effect-creative/effect-creative.scss";
@import "node_modules/swiper/modules/effect-cube/effect-cube.scss";
@import "node_modules/swiper/modules/effect-fade/effect-fade.scss";
@import "node_modules/swiper/modules/effect-flip/effect-flip.scss";
@import "node_modules/swiper/modules/free-mode/free-mode.scss";
@import "node_modules/swiper/modules/grid/grid.scss";
@import "node_modules/swiper/modules/navigation/navigation.scss";
@import "node_modules/swiper/modules/pagination/pagination.scss";
@import "node_modules/swiper/modules/scrollbar/scrollbar.scss";
@import "node_modules/swiper/modules/thumbs/thumbs.scss";
@import "node_modules/swiper/modules/virtual/virtual.scss";
@import "node_modules/swiper/modules/zoom/zoom.scss";
