<nav id="main-navi" class="navbar fixed-top navbar-expand-lg navbar-light">
    <h2 class="sr-only"><f:translate key="LLL:EXT:base_configuration/Resources/Private/Language/menus.xlf:mainmenu.title" default="Main Menu"/></h2>

    <div class="container">
        <f:link.page pageUid="1" title="{f:translate(key: 'LLL:EXT:base_configuration/Resources/Private/Language/menus.xlf:mainmenu.home', default: 'Home')}" class="navbar-brand navbar-brand-backgroundimage">
            {siteName}
        </f:link.page>

        <div class="nav-buttons">
            <a class="nav-call d-lg-none" href="tel:0201-46909690"><i class="fas fa-phone-alt"></i></a>
            <button id="main-collapse-toggler" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-collapse" aria-controls="main-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="nav-call-desktop d-none d-lg-block">
            <a href="tel:0201-46909690"><i class="fas fa-phone-alt"></i> 0201-46909690</a>
        </div>

        <div class="collapse navbar-collapse" id="main-collapse">
            <div class="w-100">
                <f:if condition="{mainmenu}">
                    <ul class="navbar-nav justify-content-end" id="main-menu">
                        <f:for each="{mainmenu}" as="menuitem">
                        <!-- Add class 'active' if active, add class 'active-sub' if first level child active, add class 'dropdown' if has children -->
                            <li class="nav-item{f:if(condition: menuitem.active, then:' active')}{f:if(condition: item.active, then: ' active-sub') -> f:for(each:'{menuitem.children}', as: 'item')}{f:if(condition: menuitem.children, then: ' dropdown')}" data-doctype="{menuitem.data.doktype}">
                                <f:if condition="{menuitem.children}">
                                    <!-- if has children then render section 'Item' -->
                                    <f:then>
                                        <f:render section="Item" arguments="{item: menuitem}"/>
                                    </f:then>
                                    <!-- if no children then render link -->
                                    <f:else>
                                        <a class="nav-link" title="{menuitem.title}" href="{menuitem.link}" target="{f:if(condition: menuitem.target, then: menuitem.target, else: '_self')}">
                                        {menuitem.title}
                                        </a>
                                    </f:else>
                                </f:if>
                            </li>
                        </f:for>
                    </ul>
                </f:if>
                <f:if condition="{lib.opening-times}">
                    <div class="opening-hours">
                        <f:cObject typoscriptObjectPath="lib.opening-times" />
                    </div>
                </f:if>
            </div>
        </div>
    </div>  
</nav>

<f:section name="Item">
    <a class="nav-link dropdown-toggle" title="{item.title}" href="#" target="{f:if(condition: item.target, then: item.target, else: '_self')}" id="navbarDropdown-{item.data.uid}" role="button" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false">
        {item.title}
    </a>

    <div class="dropdown-menu" aria-labelledby="navbarDropdown-{item.data.uid}">
        <div class="container">
            <f:if condition="{item.data.doktype}==1">
                <f:render section="Overview" arguments="{item: item}"/>
            </f:if>

            <div class="link-list">
                <ul class="nav">
                <f:for each="{item.children}" as="subitem">
                    <li class="nav-item">
                        <a href="{subitem.link}" target="{f:if(condition: subitem.target, then: subitem.target, else: '_self')}" class="dropdown-item{f:if(condition: subitem.active, then: ' active')}" title="{subitem.title}">{subitem.title}</a>
                    </li>
                </f:for>
                </ul>
            </div>
        </div>
    </div>
</f:section>

<f:section name="Overview">
    <div class="overview d-flex flex-columns">
        <div class="info-text">
            <a href="{item.link}" class="btn btn-primary btn-sm"><f:translate key="LLL:EXT:base_configuration/Resources/Private/Language/menus.xlf:mainmenu.overview" default="Overview" /></a>
        </div>
    </div>
</f:section>
