<f:spaceless>
    <header>
        <f:render partial="Menu/Navigation" arguments="{mainmenu: mainmenu, opening-times: opening-times, siteName: siteName}" />
        <f:render section="Keyvisual" />
        <f:if condition="({data.uid} != {RootId})">
            <f:render partial="Menu/Breadcrumb" arguments="{breadcrumb: breadcrumb}" />
        </f:if>
    </header>

    <main id="maincontent">
        <f:render section="headertitle" />
        <f:render section="Main" />
    </main>

    <footer id="contentinfo">
        <f:render partial="Footer" arguments="{siteName: siteName}" />
    </footer>
</f:spaceless>
