.accordion {
	&>.card {
		border: 1px solid $gray-400;
		&>.card-header {
			background-color: $white;
			padding: 12px;
			border-bottom: 1px solid $gray-400;
			transition: background-color 0.3s ease-in-out;
			h2 {
				font-size: initial;
			}
			.btn {
				padding: 0;
				border: none;
				font-family: $font-family-sans-serif;
				// transition: color 0.3s ease-in-out;
				&:hover, &:focus {
					text-decoration: none;
					color: $primary;
				}
				&:after {
					content: '';
					display: block;
					background-image: url("data:image/svg+xml,%3Csvg width='14' height='2' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h14v2H0z' fill='%23FFFFFF' fill-rule='evenodd'/%3E%3C/svg%3E");
					background-position: center center;
					background-repeat: no-repeat;
					height: 18px;
					width: 18px;
					position: absolute;
					right: 12px;
					top: 16px;
				}
				&.collapsed {
					&:after {
						background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0v6h6v2H8v6H6V8H0V6h6V0h2z' fill='%230073A5' fill-rule='evenodd'/%3E%3C/svg%3E%0A");
					}
				}
			}
		}
		.card-body {
			padding: 32px 24px;
		}
		&.active {
			&>.card-header {
				background-color: $primary-lighter;
				.btn {
					color: $white;
				}
			}
		}
	}
}