.accordion {
	&>.card {
		border: 1px solid $gray-400;
		&>.card-header {
			background-color: $white;
			padding: 12px;
			border-bottom: 1px solid $gray-400;
			transition: background-color 0.3s ease-in-out;
			h2 {
				font-size: initial;
			}
			.btn {
				padding: 0;
				border: none;
				font-family: $font-family-sans-serif;
				transition: color 0.3s ease-in-out;
				&:hover, &:focus {
					text-decoration: none;
				}
			}
		}
		.card-body {
			padding: 32px 24px;
		}
		&.active {
			&>.card-header {
				background-color: $primary-lighter;
				.btn {
					color: $white;
				}
			}
		}
	}
}