// .frame-type-twoColumns, .frame-type-threeColumns, .frame-type-fourColumns {
//     @extend .row;
//     margin-bottom: -$col-spacer;
//     &>[class*='col-'] {
//     	margin-bottom: $col-spacer;
//     }
// }