// ================
// Module: Jumbotron
// ================

// Jumbotron: dimensions, spacing, orientation

.card-jumbotron {
	border: none;
    .card-img-overlay {
        padding: 0;
        .container>.row {
        	display: block;
		    flex-wrap: wrap;
		    margin-right: 0;
		    margin-left: 0;
        }
        * {
	        color: $white !important;
	        @include media-breakpoint-up(md) {
		        color: $primary !important;
	        }
	    }
    }
    &.has-image {
        .card-img-overlay {
            position: relative;
        }
        @include media-breakpoint-up(md) {
            justify-content: flex-end;
            background-color: transparent;
            min-height: 660px !important;
        }
        @include media-breakpoint-up(lg) {
                min-height: 400px !important;
        }
        @include media-breakpoint-up(xl) {
                min-height: 460px !important;
        }
    }
    @include media-breakpoint-up(md) {
        .jumbotron-img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &.bgimg-center .jumbotron-img { object-position: 50% 50%; }
        &.bgimg-left .jumbotron-img { object-position: 0% 50%; }
        &.bgimg-right .jumbotron-img { object-position: 100% 50%; }
        &.bgimg-top .jumbotron-img { object-position: 50% 0%; }
        &.bgimg-top-left .jumbotron-img { object-position: 0% 0%; }
        &.bgimg-top-right .jumbotron-img { object-position: 100% 0%; }
        &.bgimg-bottom .jumbotron-img { object-position: 50% 100%; }
        &.bgimg-bottom-left .jumbotron-img { object-position: 0% 100%; }
        &.bgimg-bottom-right .jumbotron-img { object-position: 100% 100%; }

        // fixed images always start at the top
        &.bgimg-center .jumbotron-img-fixed { object-position: 50% 0%; }
        &.bgimg-left .jumbotron-img-fixed { object-position: 0% 0%; }
        &.bgimg-right .jumbotron-img-fixed { object-position: 100% 0%; }
        &.bgimg-top .jumbotron-img-fixed { object-position: 50% 0%; }
        &.bgimg-top-left .jumbotron-img-fixed { object-position: 0% 0%; }
        &.bgimg-top-right .jumbotron-img-fixed { object-position: 100% 0%; }
        &.bgimg-bottom .jumbotron-img-fixed { object-position: 50% 0%; }
        &.bgimg-bottom-left .jumbotron-img-fixed { object-position: 0% 0%; }
        &.bgimg-bottom-right .jumbotron-img-fixed { object-position: 100% 0%; }
    }
    @include media-breakpoint-up(lg) {
        .jumbotron-img-fixed {
            position: fixed;
            object-fit: cover;
            object-position: top center;
            z-index: -1;
        }
    }
}

// Jumbotron Teasertext

.frame-type-extendedSectionTeaser {
	position: relative;
	margin-top: 1rem;
	margin-bottom: 1rem;
	.ce-bodytext {
		h2:first-child {
			@extend h4;
		}
	}
	@include media-breakpoint-up(md) {
        background: $white;
        padding: 18px 16px 18px 0;
        margin-bottom: 58px;
    }
    @include media-breakpoint-up(lg) {
        max-width: calc(50% - 24px * 1 / 2);
        margin-right: auto;
    }
    &:before {
    	@include media-breakpoint-up(md) {
	    	content: '';
	    	display: block;
	    	background: $white;
	    	position: absolute;
	    	top: 0;
	    	bottom: 0;
	    	width: calc((100vw - #{map-get($container-max-widths, "md")}) / 2 + #{$grid-gutter-width} / 2);
	    	left: calc(-1 * ((100vw - #{map-get($container-max-widths, "md")}) / 2 + #{$grid-gutter-width} / 2));
	    }
    	@include media-breakpoint-up(lg) {
	    	width: calc((100vw - #{map-get($container-max-widths, "lg")}) / 2 + #{$grid-gutter-width} / 2);
	        left: calc(-1 * ((100vw - #{map-get($container-max-widths, "lg")}) / 2 + #{$grid-gutter-width} / 2));
	    }
	    @include media-breakpoint-up(xl) {
	    	width: calc((100vw - #{map-get($container-max-widths, "xl")}) / 2 + #{$grid-gutter-width} / 2);
	        left: calc(-1 * ((100vw - #{map-get($container-max-widths, "xl")}) / 2 + #{$grid-gutter-width} / 2));
	    }
    }
    &.frame-33-right, &.frame-66-right, &.frame-75-right {
    	padding: 18px 0 18px 16px;
    	&:before {
	    	@include media-breakpoint-up(md) {
		    	width: calc((100vw - #{map-get($container-max-widths, "md")}) / 2 + #{$grid-gutter-width} / 2);
		    	left: auto;
		    	right: calc(-1 * ((100vw - #{map-get($container-max-widths, "md")}) / 2 + #{$grid-gutter-width} / 2));
		    }
	    	@include media-breakpoint-up(lg) {
		    	width: calc((100vw - #{map-get($container-max-widths, "lg")}) / 2 + #{$grid-gutter-width} / 2);
		        left: auto;
		        right: calc(-1 * ((100vw - #{map-get($container-max-widths, "lg")}) / 2 + #{$grid-gutter-width} / 2));
		    }
		    @include media-breakpoint-up(xl) {
		    	width: calc((100vw - #{map-get($container-max-widths, "xl")}) / 2 + #{$grid-gutter-width} / 2);
		        left: auto;
		        right: calc(-1 * ((100vw - #{map-get($container-max-widths, "xl")}) / 2 + #{$grid-gutter-width} / 2));
		    }
	    }
    }
}

// Modifications for Hero-Image-Template

#banner.heroimage {
    height: 100vh;
    overflow: hidden;
    #branding-header { height: 100%; }
    .card-jumbotron {
        height:100% !important;
        .jumbotron-img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &.bgimg-center .jumbotron-img { object-position: 50% 50%; }
        &.bgimg-left .jumbotron-img { object-position: 0% 50%; }
        &.bgimg-right .jumbotron-img { object-position: 100% 50%; }
        &.bgimg-top .jumbotron-img { object-position: 50% 0%; }
        &.bgimg-top-left .jumbotron-img { object-position: 0% 0%; }
        &.bgimg-top-right .jumbotron-img { object-position: 100% 0%; }
        &.bgimg-bottom .jumbotron-img { object-position: 50% 100%; }
        &.bgimg-bottom-left .jumbotron-img { object-position: 0% 100%; }
        &.bgimg-bottom-right .jumbotron-img { object-position: 100% 100%; }

        &>.card-img-overlay {
            position: absolute;
            &> .container {
                padding-left:($grid-gutter-width / 2);
                padding-right:($grid-gutter-width / 2);
                left: 0;
                right: 0;
                position: absolute;
                bottom: 7% !important;
            }
        }
    }
}

// Modifications for subpages withoud keyvisual 

#site-info {
    background: $primary;
    .card-img-overlay {
        position: static;
    }
    .frame-type-extendedSectionTeaser {
        background: transparent;
        padding: 15px 0;
        margin: 0;
        &:before {
            content: none;
        }
        .ce-textpic {
            overflow: visible;
        }
        .ce-bodytext {
            overflow: visible;
            h2 {
                @extend h1;
                margin-bottom: 0;
                color: $white !important;
            }
        }
    }
    &.has-image {
        .frame-type-extendedSectionTeaser {
            .ce-textpic {
                overflow: visible;
            }
            .ce-bodytext {
                overflow: visible;
                h2 {
                    @extend h1;
                    margin-bottom: 0;
                    color: $white !important;
                }
            }
            @include media-breakpoint-up(md) {
                display: inline-block;
                background: $primary;
                padding: 15px 32px 15px 0;
                margin-bottom: 58px;
                &:before {
                    content: '';
                    background: $primary;
                }
            }
        }
    }
}


// Section and Jumbotron: colors of contentelemente

// .tc-1 .section-headline { background-color: $primary; }
// .tc-2 .section-headline { background-color: $secondary; }
// .tc-3 .section-headline { background-color: $tertiary; }

// #branding-header .card-jumbotron {
//     &.overlay-c1, &.overlay-c2, &.overlay-c3, &.overlay-c4 {
//         z-index: inherit;
//         overflow: hidden;
//     }
// }

// #branding-header .card-jumbotron {
//     &.overlay-c1  > picture.first-match:after {
//         background: transparent;
//         @include media-breakpoint-up(md) {
//             @include overlay-gradient-c1-bottom-to-top;
//         }
//         @include media-breakpoint-up(lg) {
//             @include overlay-gradient-c1-left-to-right;
//         }
//     }
//     &.overlay-c1.overlay-dark > picture.first-match:after {
//         background: transparent;
//         @include media-breakpoint-up(md) {
//             @include overlay-gradient-c1-bottom-to-top-overlay-dark;
//         }
//         @include media-breakpoint-up(lg) {
//             @include overlay-gradient-c1-left-to-right-overlay-dark;
//         }
//     }
//     &.overlay-c1.overlay-light > picture.first-match:after {
//         background: transparent;
//         @include media-breakpoint-up(md) {
//             @include overlay-gradient-c1-bottom-to-top-overlay-light;
//         }
//         @include media-breakpoint-up(lg) {
//             @include overlay-gradient-c1-left-to-right-overlay-light;
//         }
//     }
//     &.overlay-c2 > picture.first-match:after {
//         background: transparent;
//         @include media-breakpoint-up(md) {
//             @include overlay-gradient-c2-bottom-to-top;
//         }
//         @include media-breakpoint-up(lg) {
//             @include overlay-gradient-c2-left-to-right;
//         }
//     }
//     &.overlay-c2.overlay-dark > picture.first-match:after {
//         background: transparent;
//         @include media-breakpoint-up(md) {
//             @include overlay-gradient-c2-bottom-to-top-overlay-dark;
//         }
//         @include media-breakpoint-up(lg) {
//             @include overlay-gradient-c2-left-to-right-overlay-dark;
//         }
//     }
//     &.overlay-c2.overlay-light > picture.first-match:after {
//         background: transparent;
//         @include media-breakpoint-up(md) {
//             @include overlay-gradient-c2-bottom-to-top-overlay-light;
//         }
//         @include media-breakpoint-up(lg) {
//             @include overlay-gradient-c2-left-to-right-overlay-light;
//         }
//     }
//     &.overlay-c3 > picture.first-match:after {
//         background: transparent;
//         @include media-breakpoint-up(md) {
//             @include overlay-gradient-c1-bottom-to-top;
//         }
//         @include media-breakpoint-up(lg) {
//             @include overlay-gradient-c1-right-to-left;
//         }
//     }
//     &.overlay-c3.overlay-dark > picture.first-match:after {
//         background: transparent;
//         @include media-breakpoint-up(md) {
//             @include overlay-gradient-c1-bottom-to-top-overlay-dark;
//         }
//         @include media-breakpoint-up(lg) {
//             @include overlay-gradient-c1-right-to-left-overlay-dark;
//         }
//     }
//     &.overlay-c3.overlay-light > picture.first-match:after {
//         background: transparent;
//         @include media-breakpoint-up(md) {
//             @include overlay-gradient-c1-bottom-to-top-overlay-light;
//         }
//         @include media-breakpoint-up(lg) {
//             @include overlay-gradient-c1-right-to-left-overlay-light
//         }
//     }
//     &.overlay-c4 > picture.first-match:after {
//         background: transparent;
//         @include media-breakpoint-up(md) {
//             @include overlay-gradient-c2-bottom-to-top;
//         }
//         @include media-breakpoint-up(lg) {
//             @include overlay-gradient-c2-right-to-left;
//         }
//     }
//     &.overlay-c4.overlay-dark > picture.first-match:after {
//         background: transparent;
//         @include media-breakpoint-up(md) {
//             @include overlay-gradient-c2-bottom-to-top-overlay-dark;
//         }
//         @include media-breakpoint-up(lg) {
//             @include overlay-gradient-c2-right-to-left-overlay-dark;
//         }
//     }
//     &.overlay-c4.overlay-light > picture.first-match:after {
//         background: transparent;
//         @include media-breakpoint-up(md) {
//             @include overlay-gradient-c2-bottom-to-top-overlay-light;
//         }
//         @include media-breakpoint-up(lg) {
//             @include overlay-gradient-c2-right-to-left-overlay-light;
//         }
//     }
// }
// #banner.heroimage {
//     #branding-header .card-jumbotron {
//         &.overlay-c1 > picture.first-match:after {
//             @include overlay-gradient-c1-bottom-to-top;
//         }
//         &.overlay-c1.overlay-dark > picture.first-match:after {
//             @include overlay-gradient-c1-bottom-to-top-overlay-dark;
//         }
//         &.overlay-c1.overlay-light > picture.first-match:after {
//             @include overlay-gradient-c1-bottom-to-top-overlay-light;
//         }
//         &.overlay-c2 > picture.first-match:after {
//             @include overlay-gradient-c2-bottom-to-top;
//         }
//         &.overlay-c2.overlay-dark > picture.first-match:after {
//             @include overlay-gradient-c2-bottom-to-top-overlay-dark;
//         }
//         &.overlay-c2.overlay-light > picture.first-match:after {
//             @include overlay-gradient-c2-bottom-to-top-overlay-light;
//         }
//         &.overlay-c3 > picture.first-match:after {
//             @include overlay-gradient-c1-right-to-left;
//         }
//         &.overlay-c3.overlay-dark > picture.first-match:after {
//             @include overlay-gradient-c1-right-to-left-overlay-dark;
//         }
//         &.overlay-c3.overlay-light > picture.first-match:after {
//             @include overlay-gradient-c1-right-to-left-overlay-light;
//         }
//         &.overlay-c4 > picture.first-match:after {
//             @include overlay-gradient-c2-right-to-left;
//         }
//         &.overlay-c4.overlay-dark > picture.first-match:after {
//             @include overlay-gradient-c2-right-to-left-overlay-dark;
//         }
//         &.overlay-c4.overlay-light > picture.first-match:after {
//             @include overlay-gradient-c2-right-to-left-overlay-light;
//         }
//     }
// }


