//
// Farbverlaeufe
// --------------------------------------------------

//
// overlay horizontal left to right
// --------------------------------------------------
@mixin overlay-gradient-c1-left-to-right {
    background: linear-gradient(to right,  rgba(50,80,119,0.2) 0%,rgba(50,80,119,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
@mixin overlay-gradient-c1-left-to-right-overlay-dark {
    background: linear-gradient(to right,  rgba(50,80,119,0.2) 0%,rgba(50,80,119,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
@mixin overlay-gradient-c1-left-to-right-overlay-light {
    background: linear-gradient(to right,  rgba(50,80,119,0.2) 0%,rgba(50,80,119,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
@mixin overlay-gradient-c2-left-to-right {
    background: linear-gradient(to right, rgba(250,109,87,0.2) 0%,rgba(250,109,87,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
@mixin overlay-gradient-c2-left-to-right-overlay-dark {
    background: linear-gradient(to right, rgba(250,109,87,0.2) 0%,rgba(250,109,87,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
@mixin overlay-gradient-c2-left-to-right-overlay-light {
    background: linear-gradient(to right, rgba(250,109,87,0.2) 0%,rgba(250,109,87,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
@mixin overlay-gradient-black-left-to-right {
    background: linear-gradient(to right, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
//
// overlay horizontal right to left
// --------------------------------------------------
@mixin overlay-gradient-c1-right-to-left {
    background: linear-gradient(to right, rgba(50,80,119,0.7) 0%,rgba(50,80,119,0.2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
@mixin overlay-gradient-c1-right-to-left-overlay-dark {
    background: linear-gradient(to right, rgba(50,80,119,0.9) 0%,rgba(50,80,119,0.2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
@mixin overlay-gradient-c1-right-to-left-overlay-light {
    background: linear-gradient(to right, rgba(50,80,119,0.5) 0%,rgba(50,80,119,0.2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
@mixin overlay-gradient-c2-right-to-left {
    background: linear-gradient(to right, rgba(250,109,87,0.7) 0%,rgba(250,109,87,0.2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
@mixin overlay-gradient-c2-right-to-left-overlay-dark {
    background: linear-gradient(to right, rgba(250,109,87,0.9) 0%,rgba(250,109,87,0.2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
@mixin overlay-gradient-c2-right-to-left-overlay-light {
    background: linear-gradient(to right, rgba(250,109,87,0.5) 0%,rgba(250,109,87,0.2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
@mixin overlay-gradient-black-right-to-left {
    background: linear-gradient(to right, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
//
// overlay horizontal bottom to top
// --------------------------------------------------
@mixin overlay-gradient-c1-bottom-to-top {
    background: linear-gradient(to bottom, rgba(50,80,119,0.2) 0%,rgba(50,80,119,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
@mixin overlay-gradient-c1-bottom-to-top-overlay-dark {
    background: linear-gradient(to bottom, rgba(50,80,119,0.2) 0%,rgba(50,80,119,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
@mixin overlay-gradient-c1-bottom-to-top-overlay-light {
    background: linear-gradient(to bottom, rgba(50,80,119,0.2) 0%,rgba(50,80,119,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
@mixin overlay-gradient-c2-bottom-to-top {
    background: linear-gradient(to bottom, rgba(250,109,87,0.2) 0%,rgba(250,109,87,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
@mixin overlay-gradient-c2-bottom-to-top-overlay-dark {
    background: linear-gradient(to bottom, rgba(250,109,87,0.2) 0%,rgba(250,109,87,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
@mixin overlay-gradient-c2-bottom-to-top-overlay-light {
    background: linear-gradient(to bottom, rgba(250,109,87,0.2) 0%,rgba(250,109,87,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
@mixin overlay-gradient-black-bottom-to-top {
    background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

// ---------------------------------------------------------------------------------------------------------------------------
// Info: overlay-c3 und overlay-c4 sind hier keine Farben sondern die Ausrichtung des Verlaufs (von rechts nach links)
// ---------------------------------------------------------------------------------------------------------------------------

.card-jumbotron picture.first-match {
    display: block;
    &:after {
        position: absolute;
        width: 100%;
        content: "";
        bottom: 0;
        top: 0;
    }
}

.overlay-c1 {
    &.card-jumbotron > picture.first-match:after, &.section > .picturefill-background:after {
        @include overlay-gradient-c1-bottom-to-top;
    }
}
.overlay-c1.overlay-dark {
    &.card-jumbotron > picture.first-match:after, &.section > .picturefill-background:after {
        @include overlay-gradient-c1-bottom-to-top-overlay-dark;
    }
}
.overlay-c1.overlay-light {
    &.card-jumbotron > picture.first-match:after, &.section > .picturefill-background:after {
        @include overlay-gradient-c1-bottom-to-top-overlay-light;
    }
}
.overlay-c2 {
    &.card-jumbotron > picture.first-match:after, &.section > .picturefill-background:after {
        @include overlay-gradient-c2-bottom-to-top;
    }
}
.overlay-c2.overlay-dark {
    &.card-jumbotron > picture.first-match:after, &.section > .picturefill-background:after {
        @include overlay-gradient-c2-bottom-to-top-overlay-dark;
    }
}
.overlay-c2.overlay-light {
    &.card-jumbotron > picture.first-match:after, &.section > .picturefill-background:after {
        @include overlay-gradient-c2-bottom-to-top-overlay-light;
    }
}

.overlay-c3 {
    &.card-jumbotron > picture.first-match:after, &.section > .picturefill-background:after {
        @include overlay-gradient-c1-right-to-left;
    }
}
.overlay-c3.overlay-dark {
    &.card-jumbotron > picture.first-match:after, &.section > .picturefill-background:after {
        @include overlay-gradient-c1-right-to-left-overlay-dark;
    }
}
.overlay-c3.overlay-light {
    &.card-jumbotron > picture.first-match:after, &.section > .picturefill-background:after {
        @include overlay-gradient-c1-right-to-left-overlay-light;
    }
}
.overlay-c4 {
    &.card-jumbotron > picture.first-match:after, &.section > .picturefill-background:after {
        @include overlay-gradient-c2-right-to-left;
    }
}
.overlay-c4.overlay-dark {
    &.card-jumbotron > picture.first-match:after, &.section > .picturefill-background:after {
        @include overlay-gradient-c2-right-to-left-overlay-dark;
    }
}
.overlay-c4.overlay-light {
    &.card-jumbotron > picture.first-match:after, &.section > .picturefill-background:after {
        @include overlay-gradient-c2-right-to-left-overlay-light;
    }
}

.overlay-c1, .overlay-c2, .overlay-c3, .overlay-c4 {
    &.section.picturefill-background > .overlay {
        // Check
        position: absolute;
        width: 100%;
        height:100%;
        z-index:-1;
    }
}
