.frame-type-textTeaser, .frame-type-imageTeaser {
	margin-top: 0 !important;
	margin-bottom: $col-spacer !important;
}

.teaser.row {
	margin-bottom: -$col-spacer;
}

.frame-type-textTeaser {
	.card {
		border-color: $gray-200;
	}
	.card-body {
		color: $primary;
		padding: 1rem 0.75rem;
		p {
			font-weight: 300;
		}
		h1, h2, h3, h4, h5, h6 {
			@extend h5;
		}
		@include media-breakpoint-up(lg) {
			padding: 1.5rem;
		}
	}
	// styling for teaser-display-1 start
	.teaser-display-1 {
		position: relative;
		border: none;
		margin-right: -$grid-gutter-width/2;
		margin-left: -$grid-gutter-width/2;
		.above {
			margin-top: 24px;
		}
		.below {
			margin-bottom: 24px;
		}
		.card-body {
			position: absolute;
			bottom: 0;
			padding: 18px 14px;
			right: $grid-gutter-width/2;
			left: $grid-gutter-width/2;
			background: $primary;
			h1, h2, h3, h4, h5, h6 {
				@extend h4;
			}
			* {
		        color: $white !important;
		    }
		}
		.above+.card-body {
			bottom: auto;
		    top: 0;
		}
		@include media-breakpoint-up(sm) {
			margin-right: calc(-1 * ((100vw - #{map-get($container-max-widths, "sm")}) / 2 + #{$grid-gutter-width} / 2));
			margin-left: calc(-1 * ((100vw - #{map-get($container-max-widths, "sm")}) / 2 + #{$grid-gutter-width} / 2));
			.card-body {
				right: calc((100vw - #{map-get($container-max-widths, "sm")}) / 2 + #{$grid-gutter-width} / 2);
				left: calc((100vw - #{map-get($container-max-widths, "sm")}) / 2 + #{$grid-gutter-width} / 2);
			}
		}
		@include media-breakpoint-up(md) {
			margin-right: 0;
			margin-left: 0;
			.above {
				margin-top: 0;
			}
			.below {
				margin-bottom: 0;
			}
			.card-body {
				right: auto;
				left: -24px;
				bottom: 32px;
				padding: 18px 24px 18px 48px;
				width: calc(50% + 24px);
			}
			.above+.card-body {
				bottom: auto;
			    top: 32px;
			}
		}
	}
	// styling for teaser-display-1 end
}

