<div class="container">
    <div class="row">
        <div class="col-12 col-lg-2 order-1"><f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="{pageUid: '{data.uid}', colPos: '10'}" /></div>
        <div class="col-6 col-lg-3 order-3 order-lg-4"><f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="{pageUid: '{data.uid}', colPos: '12'}" /></div>
        <div class="col-6 col-lg-3 order-2 order-lg-3"><f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="{pageUid: '{data.uid}', colPos: '11'}" /></div>
        <div class="col-12 col-lg-4 order-4 order-lg-2">
        	<div class="doctors-shape"></div>
        </div>
    </div>
    <div class="footer-metasection">
        <f:cObject typoscriptObjectPath="lib.copyright" />
    </div>
    <aside class="site-actions">
        <a class="to-top" href="#">Nach oben</a>
    </aside>
</div>
