// =============
// = Bootstrap =
// =============

@import "custom-bootstrap";

// Functions
@import "base_configuration/node_modules/bootstrap/scss/functions";

// Core variables and mixins
@import "base_configuration/node_modules/bootstrap/scss/variables";
@import "base_configuration/node_modules/bootstrap/scss/mixins";

// Core CSS
@import "base_configuration/node_modules/bootstrap/scss/root";
@import "base_configuration/node_modules/bootstrap/scss/reboot";
@import "base_configuration/node_modules/bootstrap/scss/type";
@import "base_configuration/node_modules/bootstrap/scss/images";
@import "base_configuration/node_modules/bootstrap/scss/code";
@import "base_configuration/node_modules/bootstrap/scss/grid";
@import "base_configuration/node_modules/bootstrap/scss/tables";
@import "base_configuration/node_modules/bootstrap/scss/forms";
@import "base_configuration/node_modules/bootstrap/scss/buttons";

// Components
@import "base_configuration/node_modules/bootstrap/scss/transitions";
@import "base_configuration/node_modules/bootstrap/scss/dropdown";
@import "base_configuration/node_modules/bootstrap/scss/button-group";
@import "base_configuration/node_modules/bootstrap/scss/input-group";
@import "base_configuration/node_modules/bootstrap/scss/custom-forms";
@import "base_configuration/node_modules/bootstrap/scss/nav";
@import "base_configuration/node_modules/bootstrap/scss/navbar";
@import "base_configuration/node_modules/bootstrap/scss/card";
@import "base_configuration/node_modules/bootstrap/scss/breadcrumb";
@import "base_configuration/node_modules/bootstrap/scss/pagination";
@import "base_configuration/node_modules/bootstrap/scss/badge";
@import "base_configuration/node_modules/bootstrap/scss/jumbotron";
@import "base_configuration/node_modules/bootstrap/scss/alert";
@import "base_configuration/node_modules/bootstrap/scss/progress";
@import "base_configuration/node_modules/bootstrap/scss/media";
@import "base_configuration/node_modules/bootstrap/scss/list-group";
@import "base_configuration/node_modules/bootstrap/scss/close";

// Components w/ JavaScript
@import "base_configuration/node_modules/bootstrap/scss/modal";
@import "base_configuration/node_modules/bootstrap/scss/tooltip";
@import "base_configuration/node_modules/bootstrap/scss/popover";
@import "base_configuration/node_modules/bootstrap/scss/carousel";

// Utility classes
@import "base_configuration/node_modules/bootstrap/scss/utilities";


// ===============
// = Fontawesome =
// ===============

@import "custom-fontawesome";

@import "base_configuration/node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "base_configuration/node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "base_configuration/node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import "base_configuration/node_modules/@fortawesome/fontawesome-free/scss/brands.scss";


// ==================
// = Slick Carousel =
// ==================

// From carousel or gallery Extension
$slick-loader-path: "/typo3conf/ext/base_configuration/node_modules/slick-carousel/slick/";
$slick-font-path: "/typo3conf/ext/base_configuration/node_modules/slick-carousel/slick/fonts/";

@import "base_configuration/node_modules/slick-carousel/slick/slick.scss";
@import "base_configuration/node_modules/slick-carousel/slick/slick-theme.scss";
