.form-control:focus {
  background-color: rgba(255, 255, 255, 0.2); }

textarea.form-control {
  height: 9.1em; }

.form-group input, .form-group textarea, .form-group label {
  color: #000; }
  .form-group input, .form-group textarea {
    background-color: rgba(255, 255, 255, 0.2);
    border-width: 1px;
    border-color: #000;
    border-radius: 0;
    padding: 1.5em; }
  .form-group input {
    padding: 1.5em; }

@media (min-width: 1200px) {
  form#kontaktformular-114 {
    float: left; }
    form#kontaktformular-114 > .row {
      width: 546px;
      float: right;
      margin: 0; }
      form#kontaktformular-114 > .row > [class*="col-"] {
        margin: 0;
        padding: 0; }
    form#kontaktformular-114 > .row:nth-of-type(2) {
      float: left; }
    form#kontaktformular-114 .actions {
      width: 100%;
      float: left;
      margin-top: 0.5em;
      text-align: center; }
      form#kontaktformular-114 .actions .form-navigation {
        display: inline-block; } }
