<f:comment>Arguments: data </f:comment>

<f:if condition="{data.CType} == imageTeaser">square-wrap </f:if> frame frame-{data.frame_class} frame-type-{data.CType} 
<f:if condition="{data.space_before_class}">frame-space-before-{data.space_before_class}</f:if>
<f:if condition="{data.space_after_class}">frame-space-after-{data.space_after_class}</f:if>

<f:if condition="{data.parentgrid_flexform_teaserwidthoverride}">
    <f:then>
        <f:switch expression="{data.parentgrid_flexform_teaserwidthoverride}">
            <f:case value="frame-25-left">col-xs-12 col-md-6 col-lg-3</f:case>
            <f:case value="frame-33-left">col-xs-12 col-md-6 col-lg-4</f:case>
            <f:defaultCase>col-xs-12 col-md-6</f:defaultCase>
        </f:switch>
    </f:then>
    <f:else>
        <f:if condition="{data.layout} != 'teaser-display-1'">
            <f:then>
                <f:switch expression="{data.frame_class}">
                    <f:case value="25-left">col-xs-12 col-md-6 col-lg-3</f:case>
                    <f:case value="33-left">col-xs-12 col-md-6 col-lg-4</f:case>
                    <f:defaultCase>col-xs-12 col-md-6</f:defaultCase>
                </f:switch>
            </f:then>
            <f:else>col-12</f:else>
        </f:if>
    </f:else>
</f:if>
