<f:for each="{gallery.rows}" as="row">
    <f:for each="{row.columns}" as="column">
        <figure class="{gallery.position.vertical}">
            <f:if condition="{gallery.position.vertical} != 'below'">
                <f:then>
                    <f:render partial="Media/Rendering/TextTeaserImage" arguments="{image: column.media, img_position: 'card-img-top' }" />
                </f:then>
                <f:else>
                    <f:render partial="Media/Rendering/TextTeaserImage" arguments="{image: column.media, img_position: 'card-img-bottom' }" />
                </f:else>
            </f:if>
            <f:if condition="{column.media.description}">
                <figcaption class="image-caption"><small>{column.media.description}</small></figcaption>
            </f:if>
        </figure>
    </f:for>
</f:for>
