name: OZE Website Deployment

on:
    workflow_dispatch:
        inputs:
            applicationContext:
                description: 'Application Context'
                required: true
                default: 'staging'
                type: choice
                options: 
                    - staging
                    - production

permissions:
  contents: read

jobs:
    deploy:
        name: OZE Website Deployment
        runs-on: ubuntu-latest
        strategy:
          matrix:
            php-versions: [8.3]
            typo3-versions: [11.5]

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                php-version: ${{ matrix.php-versions }}
                ini-values: memory_limit=-1
                extensions: mbstring, intl

            - name: init SSH-Agent and add keys
              uses: webfactory/ssh-agent@v0.9.0
              with: 
                  ssh-private-key: |
                    ${{ secrets.DEPLOY_KEY }}
                    ${{ secrets.GH_ACTIONS }}

            - name: Add server to known_hosts
              run: |
                mkdir -p ~/.ssh
                chmod 700 ~/.ssh
                IFS=' ' read -r -a hosts <<< "${{ secrets.SSH_HOSTS }}"
                for host in "${hosts[@]}"; do
                  ssh-keyscan -H $host >> ~/.ssh/known_hosts
                done
                chmod 644 ~/.ssh/known_hosts

            - name: Install dependencies
              run: composer install --no-ansi --no-interaction --no-scripts --prefer-dist 

            - name: Deploy on server
              run: dep deploy ${{ inputs.applicationContext }} -vvv

