name: OZE Website Deployment

on:
    workflow_dispatch:
        inputs:
            applicationContext:
                description: 'Application Context'
                required: true
                default: 'staging'
                type: choice
                options: 
                    - staging
                    - production

jobs:
    print-tag:
        runs-on: ubuntu-latest
        steps:
            - name: Print test
              run: echo dep deploy ${{ inputs.applicationContext }}

