name: OZE Website Deployment

on:
    workflow_dispatch:
        inputs:
            applicationContext:
                description: 'Application Context'
                required: true
                default: 'staging'
                type: choice
                options: 
                    - staging
                    - production

permissions:
  contents: read

jobs:
    deploy:
        name: OZE Website Deployment
        runs-on: ubuntu-latest
        steps:
            - name: Install Deployer
              run: |
                composer global require deployer/deployer
                export PATH="$HOME/.composer/vendor/bin:$PATH"
            - name: init SSH-Agent and add keys
              uses: webfactory/ssh-agent@v0.9.0
              with:
                ssh-private-key: ${{ secrets.READ_ACCESS }}

            - name: configure SSH
              run: |
                mkdir -p ~/.ssh
                ssh-keyscan -H ${{ secrets.SSH_HOST }} >> ~/.ssh/known_hosts
                chmod 644 ~/.ssh/known_hosts

            - name: Deploy on server
              run: echo dep deploy ${{ inputs.applicationContext }} -vvv

