name: OZE Website Deployment

on:
    workflow_dispatch:
        inputs:
            applicationContext:
                description: 'Application Context'
                required: true
                default: 'staging'
                type: choice
                options: 
                    - staging
                    - production

permissions:
  contents: read

jobs:
    deploy:
        name: OZE Website Deployment
        runs-on: ubuntu-latest
        strategy:
          matrix:
            php-versions: [8.3]
            typo3-versions: [11.5]

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                php-version: ${{ matrix.php-versions }}
                ini-values: memory_limit=-1
                extensions: mbstring, intl

            - name: Install Deployer
              run: |
                composer global require deployer/deployer
                echo "$HOME/.composer/vendor/bin" >> $GITHUB_PATH

            - name: init SSH-Agent and add keys
              uses: webfactory/ssh-agent@v0.9.0
              with:
                ssh-private-key: ${{ secrets.SSH_HOST }}

            - name: Deploy on server
              run: dep deploy ${{ inputs.applicationContext }} -vvv

