name: OZE Website Deployment

on:
    workflow_dispatch:
        inputs:
            applicationContext:
                description: 'Application Context'
                required: true
                default: 'staging'
                type: choice
                options: 
                    - staging
                    - production

permissions:
  contents: read

jobs:
    deploy:
        name: OZE Website Deployment
        runs-on: ubuntu-latest
        steps:
            - name: Install Deployer
              run: |
                composer global require deployer/deployer
                echo "$HOME/.composer/vendor/bin" >> $GITHUB_PATH
            - name: init SSH-Agent and add keys
              uses: webfactory/ssh-agent@v0.9.0
              with:
                ssh-private-key: ${{ secrets.SSH_HOST }}

            - name: Deploy on server
              run: dep deploy ${{ inputs.applicationContext }} -vvv

